<!DOCTYPE html>
<html>
    <head>
        <title>Byt - A free easy file hosting - Feel free to share something</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css" />
        <link href="static/css/all.min.css" rel="stylesheet" type="text/css" />
         <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="static/js/all.min.js"></script>
    </head>
    <body>
        <header>
            <h1>Byt</h1>
            <h2>A free easy file hosting<br />Feel free to share something</h2>
        </header>
        <form class="form" method="POST" action="">
            <p><label>Filename :</label><input type="text" name="filename" /></p>
            <p><label>Content :</label><textarea name="content"></textarea></p>
            <p><button type="submit">Add</button></p>
        </form>
        <footer>
            <a href="https://github.com/byttl">Fork me on github</a>
        </footer>
    </body>
</html>
